{% for node in groups['cloud'] %}
apiVersion: v1
kind: Node
metadata:
  name: {{ hostvars[node].vars['k8s_hostname'] }}
  labels:
    name: {{ hostvars[node].vars['k8s_hostname'] }}
    cloud-computing/worker: "true"
---
{% endfor %}

{% for node in groups['edge'] %}
apiVersion: v1
kind: Node
metadata:
  name: {{ hostvars[node].vars['k8s_hostname'] }}
  labels:
    name: {{ hostvars[node].vars['k8s_hostname'] }}
    cloud-computing/edge: "true"
---
{% endfor %}